/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* NAVIGATION */
body {
  font-family: "Kanit", sans-serif; }

a {
  color: #000000;
  text-decoration: none;
  padding: 1rem; }

li {
  list-style: none; }

.button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: #000000; }

.logo,
.logo-desktop {
  max-width: 3.5rem; }

.logo-desktop {
  display: none; }

.container {
  background: #ffffff;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.2rem; }
  .container .nav-desktop {
    display: none; }
  .container .nav {
    width: 100%;
    height: 0;
    pointer-events: none;
    overflow: hidden;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center; }
    .container .nav .nav-mobile {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center;
      flex-direction: column;
      gap: 4rem; }
      .container .nav .nav-mobile li {
        font-size: 18px;
        margin: 0 0.5rem;
        text-transform: uppercase;
        font-weight: bold; }
      .container .nav .nav-mobile a:hover {
        background: #000000;
        color: #cecece;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem; }

.nav.active {
  height: 50vh;
  pointer-events: auto; }

@media screen and (min-width: 1024px) {
  .button {
    display: none; }
  .logo {
    display: none; }
  .logo-desktop {
    display: block;
    max-width: 3.5rem; }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none; }
    .container .nav.active {
      display: none; }
    .container .nav-desktop {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      margin: 1.5rem 1rem; }
      .container .nav-desktop a {
        font-size: 18px; }
      .container .nav-desktop a:hover {
        background: #000000;
        color: #cecece;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem; } }

/* MAIN */
.container-main {
  background-image: url(../img/botas.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: soft-light; }
  .container-main .grid-card {
    padding: 2rem 0;
    margin: 1rem; }
  .container-main .card-uno,
  .container-main .card-dos,
  .container-main .card-tres,
  .container-main .card-cuatro {
    background-image: url(../img/botas.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: soft-light;
    height: 300px;
    margin: 1rem 1.5rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
    padding: 2rem 1rem; }
  .container-main .title {
    color: #cecece;
    text-align: center;
    padding: 2rem 0; }
  .container-main .txt {
    color: #cecece; }

.card-uno:hover,
.card-tres:hover {
  transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  box-shadow: 0px 0px 15px 0px #c09c73; }

.card-dos:hover,
.card-cuatro:hover {
  transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  box-shadow: 0px 0px 15px 0px #c09c73; }

/*SECOND*/
.container-second {
  display: grid;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  background-image: url(../img/botas.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: soft-light; }
  .container-second .title-second {
    color: #cecece;
    font-size: 22px;
    text-transform: uppercase;
    margin: 2rem 0;
    text-align: center; }
  .container-second .text-second {
    color: #cecece;
    font-size: 16px;
    text-align: center; }
  .container-second .btn {
    margin: 1rem 0;
    color: #000000;
    background-color: #ffffff; }
  .container-second .btn:hover {
    background-color: #000000;
    color: #cecece;
    box-shadow: 0px 0px 10px 0px #c09c73; }
