/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



// IMPORTS
@import "components/vars";
@import "components/mixin";
@import "components/nav";
@import "components/main";
@import "components/second";
@import "components/footer";